.azula {
    height: 271px;
    width: 221px;
    top: 24px;
    right: -7px;
}

.avatars{
    height: 415px;
    width: 180px;
    top: 83px;
    right: -1px;
}

.appa{
    height: 220px;
    width: 287px;
    top: 0px;
    right: -14px;
}

.zuko {
    height: 280px;
    width: 203px;
    top: 0px;
    right: 0px;
}

.toph{
    height: 292px;
    width: 195px;
    top: -2px;
    right: 8px;
}